<div class="card-group">
        <div class="card">
            <img src="/public/assets/images/prints/car.svg" height="150" width="200">
                <div class="card-body">
                    <p class="card-text">Car SVG</p>
                </div>
        </div>
    
        <div class="card">
            <img src="/public/assets/images/prints/van.svg" height="150" width="200">
                <div class="card-body">
                    <p class="card-text">Van SVG</p>
                </div>
        </div>
    
        <div class="card">
            <img src="/public/assets/images/prints/home.svg" height="150" width="200">
                <div class="card-body">
                    <p class="card-text">Home SVG</p>
                </div>
        </div>
    
        <div class="card">
            <img src="/public/assets/images/prints/squiggle-cnr.png" height="150" width="200">
                <div class="card-body">
                    <p class="card-text">squiggle-cnr</p>
                </div>
        </div>
    
        <div class="card">
            <img src="/public/assets/images/prints/fat-blobs.png" height="150" width="200">
                <div class="card-body">
                    <p class="card-text">fat-blobs</p>
                </div>
        </div>
    
        <div class="card">
            <img src="/public/assets/images/prints/thin-blobs.png" height="150" width="200">
                <div class="card-body">
                    <p class="card-text">thin-blobs</p>
                </div>
        </div>
    
        <div class="card">
            <img src="/public/assets/images/prints/speech-bubble-square-blue.png" height="150" width="200">
                <div class="card-body">
                    <p class="card-text">speech-bubble-squares</p>
                </div>
        </div>
    </div>