@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900');

body {
    font-weight: 300;
    font-family: 'Source Sans Pro', sans-serif;
}

.logo {
    background-size: 100% auto;
}

.bold {
    font-weight: 900;
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

.regular {
    font-weight: 400;
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

.extralight {
    font-weight: 200;
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

.semibold {
    font-weight: 600;
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}


.bg-primary {
    color: #fff;
    background-color: #791714 !important
}

a.bg-primary:focus,
a.bg-primary:hover,
button.bg-primary:focus,
button.bg-primary:hover {
    background-color: #791714 !important
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}



.btn-primary {
    color: #fff;
    background-color: #791714;
    border-color: #791714
}

.btn-primary:hover {
    color: #fff;
    background-color: #b47a73;
    border-color: #8f382d
}

.btn-secondary {
    color: #fff;
    background-color: #00cdc3;
    border-color: #00cdc3
}

.btn-secondary:hover {
    color: #fff;
    background-color: #66e1db;
    border-color: #00cdc3
}

.btn-tertiary {
    color: #791714;
    background-color: #ffc73f;
    border-color: #ffc73f
}

.btn-tertiary:hover {
    color: #791714;
    background-color: #ffdd8b;
    border-color: #ffc73f
}

.banner-header {
    background-image: url(../img/header-banner.png);
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .jumbotron-bg {
    background-image: url(../img/bg.png);
    background-position: center;
    min-height: 540px !important;
  }
  
  /* adds some margin below the link sets  */
  .navbar .dropdown-menu div[class*="col"] {
    margin-bottom: 1rem;
  }
  
  .navbar .dropdown-menu {
    border: #fff;
  }
  
  /* breakpoint and up - mega dropdown styles */
  @media screen and (min-width: 992px) {
    /* remove the padding from the navbar so the dropdown hover state is not broken */
    .navbar {
      padding-top: 0px;
      padding-bottom: 0px;
    }
  
    /* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
    .navbar .nav-item {
      padding: 0.5rem 0.5rem;
    }
  
    /* makes the dropdown full width  */
    .navbar .dropdown {
      position: static;
    }
  
    .navbar .dropdown-menu {
      width: 100%;
      left: 0;
      right: 0;
      margin: 0;
      /*  height of nav-item  */
      display: block;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s, opacity 0.3s linear;
    }
  
    /* shows the dropdown menu on hover */
    .navbar .dropdown:hover .dropdown-menu,
    .navbar .dropdown .dropdown-menu:hover {
      display: block;
      visibility: visible;
      opacity: 1;
      transition: visibility 0s, opacity 0.3s linear;
    }
  }
  