<nav class="navbar bg-dark">
    <ul class="nav mx-auto">
      <li class="nav-item">
        <a class="text-white" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="text-white" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" >Link Dropdown</a>
        <div class="dropdown-menu">
          <a class="dropdown-item text-center" href="#">Link</a>
          <a class="dropdown-item text-center" href="#">Link</a>
          <a class="dropdown-item text-center" href="#">Link</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item text-center" href="#">Link</a>
        </div>
      </li>
    </ul>		
</nav>