<div class="card-group">
    <div class="card">
        <img src="/public/assets/images/shutterstock/shutterstock_513791275.jpg" height="150" width="200">
            <div class="card-body">
                <p class="card-text">shutterstock_513791275</p>
            </div>
    </div>

    <div class="card">
        <img src="/public/assets/images/shutterstock/shutterstock_281099279.jpg" height="150" width="200">
            <div class="card-body">
                <p class="card-text">shutterstock_513791275</p>
            </div>
    </div>

    <div class="card">
        <img src="/public/assets/images/shutterstock/shutterstock_278744660.jpg" height="150" width="200">
            <div class="card-body">
                <p class="card-text">shutterstock_513791275</p>
            </div>
    </div>

    <div class="card">
        <img src="/public/assets/images/shutterstock/shutterstock_168173798.jpg" height="150" width="200">
            <div class="card-body">
                <p class="card-text">shutterstock_513791275</p>
            </div>
    </div>

    <div class="card">
        <img src="/public/assets/images/shutterstock/shutterstock_1007588395.jpg" height="150" width="200">
            <div class="card-body">
                <p class="card-text">shutterstock_513791275</p>
            </div>
    </div>

    <div class="card">
        <img src="/public/assets/images/shutterstock/shutterstock_184138754.jpg" height="150" width="200">
            <div class="card-body">
                <p class="card-text">shutterstock_513791275</p>
            </div>
    </div>

    <div class="card">
        <img src="/public/assets/images/shutterstock/shutterstock_1041898456.jpg" height="150" width="200">
            <div class="card-body">
                <p class="card-text">shutterstock_513791275</p>
            </div>
    </div>
</div>